 <% if message.id.present? %>
  <div id="<%= "messages_#{message.id}" %>"
      class="chat-bubble <%= message.conversation.conversation_participants.where(role: :temp_coach).first&.user_id == message.user_id ? (message.user == current_user ? 'chat-doctor chat-new-doctor' : 'chat-client chat-new-client') : (message.user == current_user ? 'chat-doctor' : 'chat-client') %>" 
      data-action="turbo:after-frame-render->chat-scroll#messageAdded">
    <%= message.body %>
    <%
=begin%>
 <% if message.user&.coach? %>
      <div class="dr-avatar"><%= message.user.initials %></div>
    <% end %> 
<%
=end%>
    <% if message.created_at.present? %>
      <div class="message-time">
        <%= time_ago_in_words(message.created_at) %> ago
      </div>
    <% end %>
  </div>
<% end %>