<div style="padding: 30px;">
  <div style="text-align: center; margin-bottom: 30px;">
    <%= image_tag "my-custom-logo.jpeg", alt: @company_name, style: "max-width: 200px; height: auto;" %>
  </div>
  
  <h1 style="color: #0e3264; font-size: 24px; margin-bottom: 20px; text-align: center;">
    Verify Your Email Address
  </h1>
  
  <div style="font-size: 16px; margin-bottom: 20px;">
    <p>Hi <span style="color: #0e3264; font-weight: bold;"><%= @user.first_name %></span>,</p>
    
    <p>We received a request to update the email address associated with your <%= @company_name %> account.</p>
    
    <p>Please click the link below to verify your new email address:</p>
    
    <p style="text-align: center; margin: 25px 0;">
      <%= link_to "Verify Email Address", verify_email_url(token: @user.email_verification_token), 
                  style: "background-color: #0e3264; color: #fff; padding: 12px 20px; 
                          text-decoration: none; border-radius: 5px; font-weight: bold;" %>
    </p>
    
    <p>If you did not request this change, you can safely ignore this email.</p>
    
    <p>Best regards,<br>
    <span style="color: #0e3264; font-weight: bold;">The <%= @company_name %> Team</span></p>
  </div>
  
  <div style="margin-top: 30px; padding-top: 20px; border-top: 1px solid #eee; font-size: 14px; color: #666; text-align: center;">
    <p>This verification email was sent to <%= @new_email %></p>
    <p>&copy; <%= Date.current.year %> <%= @company_name %>. All rights reserved.</p>
  </div>
</div>
