<div class="gallery-container" data-controller="exercise-gallery">
  <div class="gallery-header">
    <h2>Exercise Gallery</h2>
      <div class="client-filter">
        <%= form_with url: exercise_gallery_index_path, method: :get, local: true do %>
          <%= select_tag :client_id, options_for_select([["All Clients", "all"]] + @clients.map { |c| [c.full_name, c.id] }, params[:client_id] || "all"), onchange: "this.form.submit();" %>
        <% end %>
      </div>
    <div class="sort-toggle">
      <button data-action="click->exercise-gallery#toggleSort" class="sort-btn">
        Sort: <span data-exercise-gallery-target="sortLabel">Newest First</span>
      </button>
    </div>
  </div>

  <div id="plans-container" data-exercise-gallery-target="plansContainer">
    <% if @grouped_plans.blank? %>
      <div class="empty-gallery-message" style="padding: 40px; text-align: center; color: #666;">
        No picture has been added to the Exercise Gallery yet.
      </div>
    <% else %>
      <%= render partial: "exercise_gallery/week_section", locals: { grouped: @grouped_plans } %>
    <% end %>
  </div>

  <div class="pagination">
    <%= link_to "Previous", url_for(page: @grouped_plans.prev_page), class: "pagination-link" if @grouped_plans.prev_page %>
    <%= link_to "Next", url_for(page: @grouped_plans.next_page), class: "pagination-link" if @grouped_plans.next_page %>
  </div>

  <div class="exercise-modal" data-exercise-gallery-target="modal">
    <span class="exercise-close" data-action="click->exercise-gallery#closeModal">&times;</span>

    <div class="exercise-modal-inner">
      <button class="exercise-prev-btn" data-action="click->exercise-gallery#prevImage" aria-label="Previous image">&#10094;</button>
      <img class="exercise-modal-content" data-exercise-gallery-target="modalImage" alt="Exercise image preview">
      <button class="exercise-next-btn" data-action="click->exercise-gallery#nextImage" aria-label="Next image">&#10095;</button>
    </div>
  </div>
</div>
