<div id="chat-box" 
     data-controller="chat-scroll" 
     data-chat-scroll-target="chat-scroll">
  <%= turbo_stream_from @conversation %>

  <div class=" active-chats-card">
    <% if @conversation.present? %>
      <!-- Messages container -->
      <div id="<%= "messages_#{conversation.id}" %>" class="chat-box" data-chat-scroll-target="messages">
        <%= render @conversation.messages.order(created_at: :asc), locals: { current_user: current_user } %>
      </div>

      <!-- Quick Replies -->
      <div class="quick-replies">
        <%= button_to "Remember to hydrate!",
              conversation_messages_path(@conversation, message: { body: "Remember to hydrate!" }),
              method: :post,
              form: { data: { turbo_frame: "chat_box" } },
              class: "quick-reply-btn" %>

        <%= button_to "Great progress!",
              conversation_messages_path(@conversation, message: { body: "Great progress!" }),
              method: :post,
              form: { data: { turbo_frame: "chat_box" } },
              class: "quick-reply-btn" %>

        <%= button_to "Keep it up!",
              conversation_messages_path(@conversation, message: { body: "Keep it up!" }),
              method: :post,
              form: { data: { turbo_frame: "chat_box" } },
              class: "quick-reply-btn" %>
      </div>

      <!-- Chat Input -->
      <div class="chat-input">
        <%= render partial: "messages/form", locals: { conversation: conversation, new_message: Message.new } %>

      </div>
    <% else %>
      <p class="text-gray-500">No active chat yet. Select a client to start messaging.</p>
    <% end %>
  </div>
</turbo-frame>
