<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "My Sleep Journey" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/my-custom-log.jpeg" type="image/png">
    <link rel="icon" href="/my-custom-log.jpeg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/my-custom-log.jpeg">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <script src="<%= asset_path('profile_picture.js') %>" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.cookie = `user_time_zone=${tz}; path=/`;
      });
    </script>
  </head>

  <body
    class="<%= 'logged-in' if user_signed_in? %>"
    <% if user_signed_in? && current_user.coach? %>
      data-controller="activity"
    <% end %>
  >
    <header class="app-header">
    </header>
    <main class="main-content oasdas">
      <% if user_signed_in? %>
        <%= render "shared/sidebar" %>
      <% end %>
      <%= render 'shared/flash_messages' if flash.any? %>
      <%= turbo_stream_from "user_#{current_user.id}" if current_user %>
      <turbo-frame id="escalation_popup"></turbo-frame>
      <turbo-frame id="coach_requests"></turbo-frame>
      <div id="coach_redirect"></div>
      <div class="container-main">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
